* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand';
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./media/body_bakgrunn.png);
    background-size: cover;
}
#board {
    background-image: url(./media/bakgrunn.png);
    background-size: cover;
    border: 3px solid black;
}

input {
    transform: rotate(270deg);
}

#slider {
    display: flex;
    align-items: center;
}

h1 {
    color: white;
}

main {
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 366px 1fr;
}

canvas {
    width: 366px;
}

@media screen and (max-width: 630px) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #slider {
        transform: rotate(90deg);
    }
}