


body{
    background-color: var(--graa1);
}

section div{
    max-width: 50%;
    text-align: center;
}

.herokons {
    height: 100vh;
    background-image: url(/medier/konsekvens1.jpg);
    background-size:cover;
    background-position: center;
  }
