:root {
    --color1: #0d1b2a;
    --color2: #1b263b;
    --color3: #415a77;
    --color4: #778da9;
    --color5: #bdc7d3;
    --color6: #d7d7d7;
    --color6: #0000000d;
    --bakgrunnsfarge1: rgba(0, 0, 0, 0.505);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: var(--color1);
    color: var(--color5);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 4;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--color5);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    list-style: none;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 25px;
    font-weight: 400;
    color: var(--color5);
    text-decoration: none;
}

.nav-logo {
    font-size: 30px;
    font-weight: 500;
    color: var(--color5);
    text-decoration: none;
}

@media only screen and (max-width: 1075px) {
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 110px;
      flex-direction: column;
      background-color: var(--color5);
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
    }
  
    .struktur {
      grid-template-columns: 1fr;
      grid-template-rows: 70px;
    }
  
    h1 {
      grid-column: 1 / 2;
    }
  
    .nav-menu.active {
      left: 0;
    }
  
    .nav-item {
      margin: 2.5rem 0;
    }
  
    .nav-link {
      color: var(--color1)
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
    }
  }

footer {
    background-color: var(--color2);
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    width: 100vw;
    box-sizing: border-box;

}

footer div {
    margin: 20px;
}

@media screen and (max-width: 900px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
  }