


.herokons{
    background-image: url(medier/konsekvens1.jpg);
    background-size: cover;
    margin-bottom: 600px;
}

body{
    background-color: var(--graa1);
}

section div{
    max-width: 50%;
    text-align: center;
}

.herokons {
    height: 900px;
    background-image: url(medier/konsekvens.jpg);
    background-size:cover;
  }
