/* Fonter: Cute Font (logo), Josefin Sans (brødtekst), Kanit (overskrifter) */
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0px;
  font-family: 'Josefin Sans';
  font-size: 30px;
}

/* Container for all sections */
.container {
  display: flex;
  flex-direction: column;
}

.container p {
  max-width: 400px;
  margin: 0 auto;
}

/* First section with text to the left and image to the right */
.section1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: var(--color5);
}

/* Second section with text to the right and image to the left */
.section2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: var(--color6);
}

/* Third section with text to the left and right, and image in the center */
.section3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color5);
}

/* Style for the images */
img {
  max-width: 100%;
  height: auto;
  margin: 20px;
}

/* Style for the "read more" link */
.read-more {
  margin-top: 10px;
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
  font-size: 15px;
}

/* Hover effect for the "read more" link */
.read-more:hover {
  text-decoration: underline;
}

/* Farger */
:root {
  --color1: #0d1b2a;
  --color2: #1b263b;
  --color3: #415a77;
  --color4: #778da9;
  --color5: #e0e1dd;
  --color6: #ccdbdc;
  --bakgrunnsfarge1: rgba(0, 0, 0, 0.505);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: var(--color1);
  color: var(--color5);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color5);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 25px;
  font-weight: 400;
  color: var(--color5);
  text-decoration: none;
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 30px;
  font-weight: 500;
  color: var(--color5);
  text-decoration: none;
}

@media only screen and (max-width: 970px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}

<<<<<<< Updated upstream
=======

h1 {
    font-weight: 400;
}
>>>>>>> Stashed changes

.variation1 {
  background-color: var(--color5);
}

.variation2 {
  background-color: var(--color6);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

section {
  justify-content: center;
  width: 100%;
  padding: 40px;
}
.istor {
  border: 7px solid var(--color3);
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 120px;
  margin-left: 5%;
  color: var(--color3);
}
.hjelpsection div{
  display: flex;
  justify-content: center;
  align-items: center;
 

}

.hjelpsection{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Hero */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(medier/konsekvens3.jpg);

}

.herogeninfo {
  background-image: url(medier/hero1.jpg);
}


.container img{
  max-width: 400px;
}
/* Ikke i bruk akk nå
.hero > div {
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
}

.video video {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
*/

.gjennomsiktig {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: var(--bakgrunnsfarge1);
  z-index: 2;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--color5);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

@media screen and (max-width: 768px) {

  .section1,
  .section2,
  .section3 {
    flex-direction: column;
    text-align: center;
  }

  img {
    margin: 20px 0;
    /* Adjust margin for smaller screens */
  }

  .container p {
    max-width: 100%;
  }
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 20px;
  z-index: 2;

  max-width: 1000px;
  max-height: 800px;
}

.overlay p {
  font-size: 40px;
}

@media (max-width: 970px) {
  .overlay {
    padding: 10px;
    max-width: 90%;
    max-height: 90%;
    top: calc(50% + 50px);
  }

  .overlay p {
    font-size: 24px;
  }


}

@media (max-height: 1000px) {
  .overlay {
    max-width: 500px;
    max-height: 300px;
    top: calc(50% + 50px);
  }

  .overlay p {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .overlay {
    max-width: 90%;
    max-height: 90%;
    top: calc(50% + 50px);
  }

  .overlay p {
    font-size: 15px;
  }

  .gjennomsiktig {
    font-size: 20px;
  }
}

@media (max-height: 500px) {
  .overlay {
    max-width: 90%;
    max-height: 90%;
    top: calc(50% + 50px);
  }

  .overlay p {
    font-size: 15px;
  }

  .gjennomsiktig {
    font-size: 20px;
  }
}


:root {
  --gronnknapp: rgb(103, 173, 105);
  --gronnknapphover: rgb(88, 147, 90);
}

.main {
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 15px;

}

.variation1,
.variation2 {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 8px;
}


.hidden {
  display: none;
}

button {
  background-color: var(--gronnknapp);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: var(--gronnknapphover);
  font-weight: 600;
}

factor {
  margin-bottom: 20px;
}